---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import Header from './Header.astro';
---

<main id="container">
	<main>
		<Header />
	</main>
</main>

<style>
	main{
		@apply container
	}
</style>
