---
import './src/styles/global.css'
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="bg-neutral-950">
		<div id="app" class="relative h-screen p-2 gap-2">
			<aside class="[grid-area:aside] flex flex-col overflow-y-auto bg-violet-200">
				ASIDE
			</aside>
			<main class="[grid-area:main] bg-emerald-200">
				MAIN
			</main>
			<footer class="[grid-area:footer] min-h-[50px]">
				
			</footer>
			<slot />
		</div>
	</body>
</html>

<style>
	body{
		margin: 0
	}
	#app{
		display: grid;
		grid-template-areas: 
			"aside main main"
			"player player player";
		grid-template-columns: 350px 1fr;
		grid-template-rows: 1fr auto;
	}
</style>
