---
import Counter from "../react components/Counter";
---

<html>
    <head>
        <title>Home Component</title>
    </head>
    <body>
        <h1>Welcome to the Home Component</h1>
        <Counter client:load />
    </body>
</html></body></head>